<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base-layout">
<body>
<div class="page-content" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-md-offset-6 col-lg-offset-7 col-sm-6 col-md-5 col-lg-4">
                <div class="panel panel-custom lr-box">
                    <div class="panel-body">
                        <form th:action="@{/login}" method="post">
                            <h4>帐号登录</h4>

                            <div th:if="${param.error}">
                                <div class="alert alert-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                                    Invalid username and password.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>

                            <div class="form-group form-group-lg">
                                <input name="username" type="text" class="form-control" required placeholder="帐号">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="form-group form-group-lg">
                                <input name="password" type="password" class="form-control" required placeholder="密码">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="form-group form-group-lg clearfix">
                                <div class="pull-left">
                                    <div class="checkbox m-none">
                                        <label><input name="remember-me" type="checkbox"> 记住帐号</label>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/forgetPwd}">忘记密码</a>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
                            </div>
                            <div class="form-group form-group-lg text-center">
                                <a th:href="@{/register}">注册</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>